@import "../../assets/colors.scss";
@import "../../assets/properties.scss";

ul {
  border-radius: 6px;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $bg-site-color;
  li {
    width: 100px;
    height: 46px;
    margin-right: -1px;
    border: 0.05px solid $bg-site-border;
    cursor: pointer;
    a {
      display: block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    a:hover {
        background-color: $bg-color-hover;
    }
    img {
      position: relative;
      left: 28px;
      top: 2px;
      width: $icon-width;
      height: $icon-height;
    }
  }
  li:hover {
    background-color: $bg-color-hover;
  }
}
