@import '../../../../assets/colors.scss';

  
  .card {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 6px;
    background-color: $inner-elem-color;
    margin: 10px;
    color: $cards-font-color;
    border: 0.5px solid $dark-border-color;
    text-align: start;
    padding-right: 5px;
  }