// site properties
$bg-site-color: #EAE7DC;
$bg-site-border: #D8C3A5;
$bg-color: rgb(190, 164, 164);
$bg-color-hover: #D8C3A5;
$primery-bg-color: white;

// nav bar properties
$nav-button-bg-color: rgb(199, 159, 159);
