// site properties
$bg-site-color: #EAE7DC;
$bg-color: rgb(190, 164, 164);
$bg-color-hover: rgb(194, 125, 125);
$primery-bg-color: white;

// nav bar properties
$nav-button-bg-color: rgb(199, 159, 159);
