// site properties
$bg-site-color: #EAE7DC;
$secondary-color: #D8C3A5;
$inner-elem-color: white;

//border
$dark-border-color: #8E8D8A;
$bg-site-border: #D8C3A5;
$list-view-corder-color: rgb(190, 164, 164);

// effects
$bg-color-hover: #D8C3A5;

// fonts
$cards-font-color: rgb(134, 165, 206);
$font-color: #E85A4F;
$light-font-color: #E98074;

// nav bar properties
$nav-button-bg-color: rgb(199, 159, 159);
